<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm</title>
</head>
<body>
    <h1><%= farm.name %> </h1>
    <ul>
        <li>City: <%= farm.city %> </li>
        <li>Email: <%= farm.email %></li>
    </ul>
    <h2>Products</h2>
    <ul>
        <% for(let Product of farm.products){ %>
        <li><a href="/products/<%= Product._id %>"><%= Product.name %></a></li>
        <% } %>
    </ul>
    <a href="/farm/<%= farm._id %>/products/new">add products</a>
    <a href="/farm">Back to farms</a>
    <form action="/farm/<%=farm._id%>?_method=DELETE" method="POST">
        <button>Delete</button></form>
</form>
</body>
</html>